@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
:root{
    --lightyellow: #e3a857;
}
body{
    background-color: var(--lightyellow);
}
nav{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
nav a{
    text-decoration: none;
    color: navajowhite;
    font-size: 35px;
}
nav li{
    padding: 20px;
}
*{
    font-family: "Josefin Sans";
}
h{
    font-size: 55px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
p{
    font-size: 25px;
    padding-inline: 35px;
    justify-content: center;
}
li{
    font-size: 25px;
    padding-inline: 35px;
    display: flex;
    justify-content: center;
}
.YouTube{
    color: red;
}
.Twitch{
    color: blueviolet;
}
.Discord{
    color: darkblue;
}
.Facebook{
    color: blue;
}
.Twitter{
    color: cornflowerblue;
}
.p1{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.p2{
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.p3{
    display: flex;
    justify-content: center;
}
.p4{
    display: flex;
    justify-content: center;
}
.date{
    font-weight: bold;
}
img{
    width: 25%;
}
.img{
    width: 100%;
    display: flex;
    justify-content: center;
}